<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- Käyttöliittymän vakio-osat -->
<html>
<head>
	<title>Kulutuksen ohjaus</title>
	<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="styles.css")}}">
</head>
<body>
	<h1 align="center">Sähkönkulutuksen ohjaus ver.0.2</h1>
	<hr>
	<!-- Valikko -->
	<ul>
		<li>
			<a href="/">Ohjauksen tila</a>			
		</li>
		<li>
			<a href="/settings">Asetusten muutos</a>
		</li>
		<li>
			<a href="/about">Tietoja</a>
		</li>
	</ul>
	<hr>
	<!-- Vaihtuva osa -->
	<div align="center">
		<p>
			{% block contents %}
			{% endblock %}	
		</p><br>
	</div>
</body>
</html>